
 @media screen and (max-width:1045px) {
    .navbar{
        gap: 0;
        /* justify-content:; */
    }
    .first_section h1{
        font-size: 45px;
    }
    .menubar{
        gap: 30px;

    }
    .layout1 h2{
        font-size: 35px;
    }
    .about h5{
        font-size: 14px;
    }
    .cards{
        gap: 30px;
    }

 }
 
  @media screen and (max-width:992px) {
    .navbar{
        padding: 20px 0px;
    }
    .filled{
        font-size: 13px;
    }
    .filled .material-symbols-outlined{
        font-size: 17px;
    }
    .description{
        padding:0;
    }
    .about h5{
        font-size: 12px;
    }
    .about button{
        max-width: 130px;
        padding: 10px 5px;
    }
    .frame1{
        font-size: 14px;
    }
    .prices{
        font-size: 12px;
    }
    .offer{
        font-size: 12px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .cards .card{
        width: 60vw;
     }

    
  }
  @media screen and (max-width:890px) {
    
     .main{
        align-items: center;
        text-align: center;   
     }
     .navbar{
        display: flex;
        flex-direction: column;
        padding: 10px 0px 0px 0px;
     }
     .content{
        padding-top: 90px;
     }
     
      .button{
        padding: 10px 15px;
      }
      .first_section{
        display: flex;
        justify-content: center;
      }
      .intro{
        align-items: center;
        padding: 0vw 15vw;
        text-align: center;
      }
      .menubar{
        gap: 10px;
        align-items: center;
      }
      .first_section .cover{
        display: none;
      }
     .layout1 .container{
        padding-bottom: 50px;
     }
     .layout2 ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
     }
     .layout2 ul li{
        display: flex;
        justify-content: center;
     }
     .layout3 .grid{
        display: flex;
        flex-direction: column;
        transition: all 0.15s ease-in;
     }
     .cards{
        display: flex;
        flex-direction: column;
     }
     .grid_col{
        display: grid;
        grid-template-columns: 1.79fr 2fr;
     }
     .grid{
        display: flex;
        flex-direction: column;
     }
     .icons{
        bottom: 50px;
     }
     .layout4{
        padding: 0;
     }
     .layout4 .grid{
        align-items: center;
     }
     .layout4 .card{
        max-width: 50vw;
     }

  }
  @media screen and (min-width:721px) {
    .menubar .up{
        color: #ffff;
        display: none;
    }
    
    .dropdown{
        flex-direction: column;
        background: #ffffff;
        position: absolute;
        display: none;
        border-radius: 10px;
        visibility: hidden;
        opacity: 0;
        padding: 10px;
        width: 15vw;
        margin: -20px;
    }
    .dropdown li a{
        color: black;
    }
    
    .drop:hover .down{
        display: none;
    }
    .drop:hover .up{
        display: flex;
    }
    .drop:hover .dropdown{
        display: flex;
        position: absolute;
        visibility: visible;
        transition: all .3s ease-in-out;
        opacity: 1;
        margin: 0;
        left: 0;
        top: 20px;
    }
    .dropdown li a:hover{
        color: black;
        background: #bdbdbd;
        padding: 10px;
        border-radius: 5px;
    }
    
  }
 
  @media screen and (max-width:720px) {
    .navbar{
        display: flex;
        flex-direction: row;
        padding: 20px 20px ;
        width: 100%;
    }
    .menu_nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        left: -100vw;
        background: #26335d;
        z-index: 1;
        align-items: center;
        padding: 10px;
        margin-top: 89px;
        width: 85vw;
        height: 100vw;
        overflow: auto;
        opacity: 0.95;
    }
    .menubar ul li a{
        color: #ffffff;
    }
    .menubar .ham{
        display: none;
    }
    .borderless{
        display: none;
    }
    .ham-open{
        display: block;
        position: static;
        color: #ffff;
        cursor: pointer;
    }
    
     .drop{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
     }
    .menubar .dropdown{
        visibility: hidden;
        height: 130px;
        width: 50vw;
        margin-top: 0;
        opacity: 0;
        position: absolute;
    }
    .drop .up{
        color: #ffffff;
        display: none;
    }
    #dropdown_click:checked~.down{
        display: none;
    }
    #dropdown_click:checked~.up{
        display: flex;
        align-items: center;
    }
    #dropdown_click:checked~.dropdown{
        position: relative;
        display: flex;
        visibility: visible;
        overflow: auto;
        opacity: 1;
        flex-direction: column;
        align-items: center;
        /* transition: all 0.3s ease-in-out; */

    }
    
    #check:checked ~ .menubar ul{
        left: 0px;
        /* transition: all 0.5s ease-in-out; */
        overflow: auto;
    }
    #check:checked ~ .menubar .ham{
        display: block;
        border: 0;
        background: transparent;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;  
    }
    #check:checked ~ .ham-open{
        display: none;
    }
    #check:checked ~ .ham-close{
        display: block;
        color: black;
        /* left: 20px;
        top: 50px; */
        position: static;
    }
    .navbar{
        display: flex;
    }
    .about p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 321px;
    }
       
    .contact{
        display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .listing.address{
        text-align: left;
    padding-left: 45px;
    flex: 1;
    justify-content: center;
    }
    .intro{
        padding: 0;
    }
  }
  @media screen and (max-width:665px) {
    .container{
        padding: 80px 20px;
    }
    .layout1 .container{
        padding: 0px 20px;
    }
    .grid_col{
        display: flex;
        flex-direction: column;
        padding: 0px 90px;
    }
    .icons{
        bottom: 20px;
    }
    .layout1 h2{
        font-size: 22px;
    }
    .secnd_section{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .prices{
        padding-left: 0;
    }
    .layout6 .container{
        padding: 60px 20px;
    }
    .card button{
        padding: 15px 30px;
    }
    .features ul li{
        font-size: 12px;
    }
  }
  @media screen and (max-width:500px) {
    a{
        gap: 5px;
    }
    .description a .material-symbols-outlined{
        font-size: 18px;
    }
    button{
        font-size: 12px;
    }
    .first_section h1{
        font-size: 30px;
    }
    
    .filled{
        padding: 7px 10px;
        font-size: 12px;
        gap: 3px;
        font-weight: 550;
    }
    .layout1 .material-symbols-outlined{
        font-size: 20px;
    }
    .layout1 h2{
        font-size: 16px;
    }
    .secnd_section{
        padding: 30px 0px;
    }
    .description{
        gap: 10px;
    }
    .main h2{
        font-size: 30px;
        line-height: 40px;
    }
    .layout3 .container{
        padding: 55px 20px 10px;
    }
    .card{
        padding: 40px 20px;
    }
    .about p{
        white-space: normal;
    }
    .about button{
        max-width: 100px;
        padding: 10px 5px;
        font-size: 12px;
        display: inline-flex;
        align-items: center;
    }
    .about button .material-symbols-outlined{
        font-size: 15px;
    }
    .round{
        width: 50px;
        height: 50px;
    }
    .contact{
        grid-template-columns: 1fr;
        text-align: left;
    }
    .listing.address{
        padding-left: 0;
    }
    .layout7 .container{
        padding: 20px 40px;
    }
    .new .main h2{
        font-size: 35px;
    }
    .new h6{
        font-size: 16px;
    }
    .cards .card{
        box-shadow: none;
    }
    .layout4 .card{
        max-width: 70vw;
    }
    .grid_col{
        padding: 0vw 8vw;
    }
    .card{
        box-shadow: 0px 13px 19px 0px #bdbdbd;
    }
    .sale h6{
        font-size: 12px;
        line-height: 20px;
    }
    .sale{
        padding: 0px 5px;
    }
    .product_card img{
        height: 50vw;
    }
    .icon .material-symbols-outlined{
        font-size: 20px;
    }
    .layout2{
        display: none;
    }
  }
  @media screen and (max-width:400px){
    .filled{
     padding: 6px 5px;
     gap: 0;
    }
    
  }
  @media screen and (min-width:320px) {
    .container{
        padding: 60px 20px;
    }
    .navbar{
        padding: 20px 10px;
    }
    
    .cards .card{
        padding: 20px;
        gap: 5px;
    }
    .card .comments{
        padding: 0;
    }
    .comments p{
        max-width: 150px;
        height: auto;
    }
    .client h6{
        font-size: 12px;
    }
    .client small{
        font-size: 12px;
    }
    .new .main h2{
        font-size: 22px;
        line-height: 30px;
    }
    .new{
        gap: 40px;
    }
    .grid .card{
        padding: 40px 5px;
    }


    
  }