
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-weight: 700;
}

.header{
    width: 100%;
  background: #26335D;
  height: 777px;
  margin: 0;
}

#container {
 width: 1050px; 
 margin: auto;
 padding: 0px 30px;
 background: #26335D;
}

.navbar {
   
  display: flex;
  align-items: center;
  padding:20px 20px 20px 20px;
  gap: 21px;
}
.brandName{
    font-size: 24px;
    font-weight: 700;
    color: #ffff;
    padding: 10px;
}
.navlinks{
   display: flex;
   align-items: center;
   height: 58px;
   padding: 21px;
   gap: 150px;
}
.navlinks ul{
    display: flex;
    list-style-type: none;
    gap: 21px;
    font-weight: 700;
}
.btns{
    right: 50px;
    display: flex;
    gap: 21px;

}
#login{
    background-color: transparent;
    color: #ffff;
    font-size: 14px;
    padding: 15px;
    border: 0;
    
}
.filed_btn {
    background-color: #1BA0AB;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    width: 137px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #ffff;
    border: 0;
}

.filled_btn .material-symbols-outlined {
  font-weight: 700;
}
.filed_btn i{
    width: 12px;
    height: 10px;
    color: #ffff;
    gap: 30px;
    border: 0;
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
}
.content{
    align-items: center;
    background: #26335D;
    
}
#first_section{
    color: #ffff;
    width: 1200px;
    margin: auto;
    height: 600px;
}
td{
    width: 535px;
}
#first_section h5{
    color: #1BA0AB;
    font-size: 16px;
}
#first_section h1{
    font-size: 58px;
}
.button{
    display: flex;
    gap: 10px;
}
#filed_btn{
    padding: 15px 40px 15px 40px;
    background-color: #1BA0AB;
    border-radius: 5px;
    border: 0;
    color: #ffff;
}
.hollow_btn{
    background: transparent;
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid #1BA0AB ; 
    color: #1BA0AB;
    padding: 15px;
}
.cover{
    width: 535px;
    /* background: #26335D; */
    align-content: center;
    padding: 50px 0px 50px 40px;
    position: relative;
}
.rectangle{
    width: 116px;
    height: 138px;
}
.cover .rectangle{
    position: absolute;
    background: #1BA0AB;
    top: 50px;
    right: 0;
}
.doctor{
    height: 506px;
    width: 425px;
}
.cover .doctor{

    /* right: 20px; */
    position: absolute;
    top: 80px;
    right: 50px;
    overflow: hidden;
    border-radius: 10px;
}
.image1{
    height: 506px;
    width: 650px;
    border-radius: 10px;
    position: relative;
    
}
#image2{
    height: 250px;
    width: 270px;
    border-radius: 10px;
   position: absolute;
   bottom:-50px;
   left: -10px;
   border: 4px;
   border: 4px solid #ffff;
}
/* layout 1 */
section.layout1{
    background: #ffff;
    height: 692px;
}
.container{
    width: 1050px;
    /* height: 662px; */
    margin: auto;
}
#secnd_section{
    width: 1050px;
    height: 552px;
}
#secnd_section td{
    width: 525px;
}
#secnd_section .rectangle{
background: #B6D7FF;
position: absolute;
}
#secnd_section .cover .doctor{
    border-radius: 50px;
    position: absolute;
}

#secnd_section .image1{
    /* position: absolute; */
    width: 150%;
    left: -100px;
    border-radius: 50px;
}
#circle{
    position: absolute;
    bottom: -61px;
    left: 29px;
    background: #FEB896;
   width: 59px;
   height: 59px;
   border-radius: 59px; 
   /* z-index: -1; */
   
}
.description{
    width: 381px;
    height: 246px;
    text-align: left;
    position: relative;
    
}
.description #rectangle{
    width: 94px;
    height: 7px;
    top: 0;
    left: 0;
    background: #F69B25;
}
#text{
    height: 246px;
    width: 381px;
    text-align: left;
    position: absolute;
    right: 0;
}
.layout1 h2{
    display: inline-block;
    width: 336px;
font-size: 40px;
font-weight: 700;
line-height: 50px;
}
.layout1 p{
    color: #737373;
}
a{
    display: inline-flex;
    text-decoration: none;
    color: #1BA0AB;
    gap: 10px;
}
a.material-symbols-outlined {
  font-weight: 400;
}
.layout2{
    height: 172px;
    background: #ffff;
    
}
.layout2 ul{
display: flex;
gap: 30px;
align-items: center;
justify-content: space-between;
}
.layout2 ul li{
    text-decoration: none;
    list-style-type: none;
}
/* section 3 */
.layout3{
    height: 964px;
    background: #ffff;
}
.layout3 .container{
    width: 1050px;
    height: 918px;
    padding: 72px 0px 10px 0px;
}
.layout tr #row1{
height: 134px;
}
.main{
    width: 691px;
}
.main h6{
    color: #1BA0AB;
    font-size: 14px;
}
.main h2{
    color: black;
    font-size: 40px;
}
.main p{
    color: #737373;
    font-size: 14px;
}
.sectioned{
    width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.grid{
    display: flex;
    gap: 10px;
    width: 1050px;
    height: 622px;
    justify-content: space-between;
}
.product_card{
    width: 348px;
    height: 300px;
    position: relative;
}
.product_card img{
    width: 348px;
    height: 300px;
}
.sale{
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 3px;
    background: #E74040;
    width: 51px;
    height: 24px;
    text-align: center;
}
.sale h6{
    color: #ffff;
    font-size: 14px;
    line-height: 24px;
}
.icons{
    position: absolute;
    top: 236px;
    left: 104px;
    display: flex;
    gap: 10px;
}
.icon{
    width: 40px;
    height: 40px;
    background: #ffff;
    border-radius: 40px;
    align-content: center;
    position: relative;
}
.icons img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
}
.about{
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prices{
    display: flex;
    width: 108px;
    height: 34px;
    gap: 5px;
    color: #2DC071;
}
.frame1{
    display: flex;
    justify-content: space-between;
}
.frame1_sec1{
    display: flex;
   gap: 5px;
   padding: 5px;
    width: 50px;
    height: 26px;
    background: #26335D;
    color: #ffff;
    border-radius: 20px;
}
.frame1_sec1 img{
    width: 16px;
    height: 16px;
    top: 0.75px;
    left: 0.5px;
}
.frame1_sec1 div{
    font-size: 12px;
    width: 19px;
    height: 16px;
}
.about h5{
    font-size: 16px;
    color: #252B42;
}
.about p{
    font-size: 14px;
    color: #737373;
}

.offer{
    color: #BDBDBD;
    font-size: 16px;
}
.about button{
    border: 1px solid #1BA0AB;
    border-radius: 37px;
    color: #1BA0AB;
    width:144px;
height: 44px;
padding: 10px 20px 10px 20px;
display: flex;
align-items: center;
background: transparent;
}
.layout4{
    height: 1314px;
}
.layout4 .sectioned{
    height: 1249px;
}
.layout4 .grid{
    height: 937px;
    display: flex;
    gap: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 937px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.card1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    align-items: center;
    height: 908px;
    padding: 50px 40px 50px 40px;
    
}
.card2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    align-items: center;
    background: #26335D;
    height: 908px;
    padding: 20px 40px 50px 40px;
}
.card3{
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    align-items: center;
    height: 908px;
    padding: 50px 40px 50px 40px;
}
.like{
    height: 96px;
    width: 96px;
    border-radius: 96px;
    background: #F69B25;
    align-items: center;
}
.like img{
    
    width: 48px;
    height: 48px;
}
.card h3{
    color: #252B42;
    font-size: 24px;

}
.card2 h3{
    color: #ffff;
}
.card h6{
font-size: 14px;
line-height: 24px;
width: 142px;
height: 48px;

}
.price_sec h2{
    color: #1BA0AB;
}
.price_sec h6{
    color: #8EC2F2;
}
/* .features ul li{
list-style-type: none;
} */
/* .features .filled_tick{
    background: #2DC071 ;
    width: 32px;
    height: 32px;
    border-radius: 32px;
}
.features img{
    width: 16px;
    height: 11px;
} */