
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-weight: 700;
}
:root{
    --bg: #26335D;
    --primaryFont_color: #737373;
    --primary_bg: #ffff;
    --btn_clr: #1BA0AB;

}
/* commom styling */
p{
    font-size: 14px;
    font-weight: 550;
    color: #737373;
    line-height: 20px;
}
h2{
    line-height: 50px;
}
h6{
    line-height: 24px;
}
button{
    cursor: pointer;
    font-size: 14px;
}
section{
    width: 100%;
}

/* Page 1 */

header{
    /* margin: auto; */
    width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  z-index: 2;
  background: var(--bg);
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
.navbar {
  display: flex;
  align-items: center;
  padding:20px 20px 20px 20px; 
  gap: 21px;
}
.brandName{
    font-size: 24px;
    color: #ffff;
    padding: 10px;
    flex: 1;
}
.menubar{
   display: flex;
   align-items: center;
   padding: 10px 0px;
   gap: 150px;
}
.menubar .drop{
    position: relative;
    cursor: pointer;
}
#dropdown_click{
    display: none;
}
.drop label{
    display: inline-flex;
    gap: 5px;
    align-items: center;
}


.menubar ul{
    display: flex;
    gap: 21px;
    font-weight: 700;
    /* position: relative; */
}
.ham-open, .ham-close{
    display: none;
}
.ham-open{
    top: 50%;
    left: 25px;
    cursor: pointer;
}
.ham-close{
    top: 50%;
    left: 25px;
    cursor: pointer;
}
.ham-open i, .ham-close i{
    font-size: 16px;
    color: #ffffff;
}
#check{
    display: none;
    position: absolute;
    top: 50%;
    left: 25px;
}
.buttons{
    display: flex;
    gap: 20px;
}
.button{
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
}
.borderless{
    background-color: transparent;
    color: #ffff;
    font-size: 14px;
}
.filled {
    background-color: #1BA0AB;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    color: #ffff;
    font-size: 14px;
}

.filled .material-symbols-outlined {
  font-weight: 400;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}


.ham{
    display: none;
}
/* head intro content */
.content{
    background: #26335D;
    padding-top: 135px;
}
.content .container{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px 35px;
}
.first_section{
    color: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: auto;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.first_section h5{
    color: #1BA0AB;
    font-size: 16px;
}
.first_section h1{
    color: #FFFFFF;
    font-size: 58px;
}
.hollow{
    color: #1BA0AB;
    background: transparent;
    display: inline-flex;
    border: 1px solid #1BA0AB ; 
}
.cover img{
    width: 100%;
}
/* Section 1 */
section.layout1{
    background: #ffff;
}
.container{
    max-width: 1050px;
    margin: auto;
    padding: 100px 20px;
}
.secnd_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 60px 0px;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 0px 114px;
}
.description #rectangle{
    max-width: 94px;
    height: 7px;
    background: #F69B25;
}

.layout1 h2{
font-size: 40px;
line-height: 50px;
}
.layout1 p{
    color: #737373;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    max-width: 351px;
}
a{
    display: inline-flex;
    text-decoration: none;
    color: #1BA0AB;
    gap: 10px;
    align-items: center;
}
a.material-symbols-outlined {
  font-weight: 400;
}
/* Section 2 */
.layout2{
    background: #ffff;
}
.layout2 .container{
    padding: 50px 20px;
}
.layout2 ul{
display: flex;
gap: 30px;
align-items: center;
justify-content: space-between;
padding: 20px 0px;
}


/* section 3 */
.layout3{
   
    background: #ffff;
}
.layout3 .container{
   
    padding: 72px 20px 10px;
}


.main h6{
    color: #1BA0AB;
    font-size: 14px;
}
.main h2{
    color: black;
    font-size: 40px;
}
.main p{
    color: var(--primaryFont_color);
    font-size: 14px;
}
.sectioned{
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  
.product_card{
    position: relative;
}
.product_card img{
    width: 100%;
    height: 292px;
}
.sale{
    position: absolute;
    left: 15px;
    top: 20px;
    border-radius: 3px;
    background: #E74040;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.sale h6{
    color: #ffff;
    font-size: 14px;
    line-height: 24px;
}
.icons{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

 .icon span{
    font-variation-settings: 'FILL' 0;
    background: #ffff;
    border-radius: 50%;
    padding: 6px;
    font-weight: 300;
    cursor: pointer;
 }
 
 .icon span.eye{
    font-variation-settings: 'FILL' 1;
 }
 .icon span:hover{
    background: #BDBDBD;
    
 }

.about{
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prices{
    display: flex;
    gap: 5px;
    color: #2DC071;
    padding-left: 5px;
}
.prices h5{
    color: #2DC071;
}
.frame1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.frame1_sec1{
    display: flex;
    align-items: center;
   gap: 3px;
   padding: 7px;
    background: #26335D;
    color: #ffff;
    border-radius: 20px;
}

 .frame1_sec1 i{
    color: #F3CD03;
    font-size: 12px;
 }
.frame1_sec1 div{
    font-size: 12px;
   
}
.about h5{
    font-size: 16px;
    color: #252B42;
}

.flex{
    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
}
.flex i{
    color: #737373;
}
.offer{
    color: #BDBDBD;
    font-size: 16px;
}
.about button{
    border: 1px solid #1BA0AB;
    border-radius: 37px;
    color: #1BA0AB;
    max-width:141px;

padding: 10px 15px;
display: flex;
align-items: center;
background: transparent;
justify-content: center;
}
.about button a{
    gap: 0;
}
.about button:hover{
    color: #FFFFFF;
    border: none;
    background: #1BA0AB;
}
/* section 4 */
.layout4{
    
    padding: 100px 0px;
}


.card{
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 40px;
    position: relative;
}
.grid .card p{
    max-width: 199px;
}
.card button{
    
    padding: 15px 60px;
    color: #FFFFFF;
    background: #1BA0AB;
    border-radius: 5px;
    border: 0;
}
.card1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    align-items: center;
    padding: 50px 40px 50px 40px;
    
}

.like{
    /* height: 96px;
    width: 96px; */
    padding: 20px;
    border-radius: 50%;
    background: #F69B25;
    align-items: center;
    display: flex;
    justify-content: center;
}
.like span{
    
    font-size: 50px;
    color: #FFFFFF;
}
.like .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
.card h3{
    color: #252B42;
    font-size: 24px;

}

.card h6{
font-size: 14px;
line-height: 24px;
max-width: 142px;
color: #737373;

}
.price_sec h2{
    color: #1BA0AB;
    font-size: 40px;
}
.price_sec h6{
    color: #8EC2F2;
    font-size: 14px;
}
.features{
    padding: 10px;
}
.features ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.features ul li{
list-style-type: none;
font-size: 14px;
gap: 5px;
display: inline-flex;
text-align: left;
align-items: center;
line-height: 24px;
} 
.features i{
    font-size: 32px;
}
.green, .grey{
    display: flex;
    align-items: center;
    gap: 5px;
}

.green i{
    color: #2DC071;
}
.grey i{
    color: #BDBDBD;
}
.round{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #E77C40;
    width: 89px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 1;
}
/* To hover over the cards */
.grid .card:hover{
    background: #26335D;
    color: #FFFFFF;
    cursor: pointer;
}
.grid .card:hover h3,
.grid .card:hover p,
.grid .card:hover h6{
    color: #FFFFFF;
}
.grid .card:hover .features li i{
    background-color: #FFFFFF;
    border-radius: 75%;
}

/* section 5 */
.layout5{
    background: #26335D;
}

.new{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}
.new .main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.new h6{
    color: #1BA0AB;
    font-size: 14px;
    
}
.new .main h2{
    color: #FFFFFF;
    font-size: 40px;
}
.new .main p{
    color: #FFFFFF;
    max-width: 469px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}
.cards .card{
    background: #FFFFFF;
   
    padding: 25px;
    gap: 0;
}
.card .comments{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
gap: 15px;
font-size: 14px;
color: #737373;
}

 .stars{
    display: flex;
    gap: 2px;
 }
 .stars i{
    color: #F3CD03;
 }
.comments p{
    width: 159px;
    height: 120px;
}
.client{
    display: flex;
    justify-content: center;
align-items: center;
gap: 10px;
}
.client img{
    width: 100%;
    height: 50px;
    border-radius: 50%;
}
.client h6{
    line-height: 20px;
}
/* section 6 */
.layout6{
    background: #FFFFFF;
}
.layout6 .container{
    padding: 150px 20px;
}
.layout6 .sectioned{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.layout6 .main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.layout6 h2{
     color: #252B42;
}
.layout6 p{
    max-width: 436px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    
}
.emailInput{
    background: #F9F9F9;
}
form{
    display: flex;
    gap: 0; 
     background: #F9F9F9;
}
form input{
    width: 50vw;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
    background-color: #F9F9F9;
    padding: 20px;
    outline: none;
}
::placeholder{
    font-size: 14px;
    font-weight: 400;
}
form button{
    background: #1BA0AB;
    border: 1px solid #E6E6E6;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 0px 5px 5px 0px;
    padding: 20px;
}
/* section 7 */
.layout7{
    background: #F8F8F8;
}
.layout7 .container{
    padding: 50px 20px;
}
.contact{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.contact_detail{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.contact_detail h5{
    font-size: 16px;
}
.listing{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listing li h6{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
}
.address li{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.address li i{
    font-size: 24px;
    color: #1BA0AB;
}
/* footer */
footer{
    background: #ECECEC;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    color: #737373;
    font-size: 14px;
    /* font-weight: 700; */
}
.socials{
    display: flex;
    gap: 20px;
}
.socials i{
    font-size: 20px;
}